<ion-header class="ion-no-border">
  <ion-toolbar color="residente">
  </ion-toolbar >
  <ion-toolbar color="light"> 
    <ion-button (click)="backAs()" fill="clear" slot="start">
      <ion-icon slot="icon-only" name="chevron-back-outline" color="residente"></ion-icon>
    </ion-button>
    <strong><ion-title class="" color="residente-txt">RESULTADOS ASAMBLEA</ion-title> </strong>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <ion-card-title> Asamblea: {{getAsamblea()}} </ion-card-title>
    <h4> Propuesta: {{getPropuesta()}} </h4>
    <h5>  Cantidad de Votos: {{getTotalVotaciones()}}</h5>
    <h5>  Ganador: {{getGanador()}} </h5>
  </ion-card>
</ion-content>