:host ::ng-deep{
    .monthview-selected{
        background-color: var(--ion-color-residente) !important;
        color: black !important;
    }
}

ion-content{
 
}
.calendarEstilo{
  height: 93%;
  width: 100%;
  
  margin-left: 4% !important;
}