::ng-deep .selected-data,
::ng-deep .options {
    margin-top: 20px;
    padding: 20px;
    background-color: rgba(191, 191, 191, 0.15);
}
::ng-deep .selected-data .caption {
    font-weight: bold;
    font-size: 115%;
}

.boton{
    padding-left: 60px;
    padding-right:20px;
    width: 300px;
    margin-bottom: 20px;
}

ion-card{
    width: 92%;
    border: solid 1px var(--ion-color-residente-txt);
    box-shadow: none !important;
    ion-card-content{
        padding-left: 8%;
        padding-right: 0%;
        padding-top: 0%;
        padding-bottom: 0%;
    }
}