<ion-menu side="start" menuId="menu-admin" contentId="main-admin">
  <ion-header>
    <ion-toolbar color="residente">
      <ion-title>Menú</ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-content>
    <ion-list>
      <ion-item routerLink="/noticias" detail="false">
        <ion-icon slot="start" name= "newspaper-outline" color="residente-txt"> </ion-icon>
        <ion-label>
          Noticias
        </ion-label>
      </ion-item>
      <ion-item routerLink="/claves" detail="false">
        <ion-icon slot="start" name= "key-outline" color="residente-txt"> </ion-icon>
        <ion-label>
          Admin de Claves
        </ion-label>
      </ion-item>
      <ion-item routerLink="/asamblea-admin" detail="false">
        <ion-icon slot="start" name= "people-outline" color="residente-txt"> </ion-icon>
        <ion-label>
          Asamblea
        </ion-label>
      </ion-item>
      <ion-item routerLink="/areas-admin" detail="false">
        <ion-icon slot="start" name= "business-outline" color="residente-txt"> </ion-icon>
        <ion-label>
          Áreas Comunes
        </ion-label>
      </ion-item>
      <ion-item routerLink="/empleados" detail="false">
        <ion-icon slot="start" name= "chatbubbles-outline" color="residente-txt"> </ion-icon>
        <ion-label>
          Mensajería
        </ion-label>
      </ion-item>
      <ion-item routerLink="/manual-admin" detail="false">
        <ion-icon slot="start" name= "document-text-outline" color="residente-txt"> </ion-icon>
        <ion-label>
          Manual de Convivencia
        </ion-label>
      </ion-item>
      <ion-item routerLink="/quejas-admin" detail="false">
        <ion-icon slot="start" name= "sad-outline" color="residente-txt"> </ion-icon>
        <ion-label>
          Quejas
        </ion-label>
      </ion-item>
      <ion-item routerLink="/netflix" detail="false">
        <ion-icon slot="start" name= "sync-outline" color="residente-txt"> </ion-icon>
        <ion-label>
          Cambiar Conjuntos
        </ion-label>
      </ion-item>
      <ion-item routerLink="/acerca-nosotros" detail="false">
        <ion-icon slot="start" name= "information-circle-outline" color="residente-txt"> </ion-icon>
        <ion-label>
          Sobre Residentes
        </ion-label>
      </ion-item>
      <ion-item routerLink="/ingreso" detail="false">
        <ion-icon slot="start" name= "log-out-outline" color="residente-txt"> </ion-icon>
        <ion-label>
          Cerrar Sesión
        </ion-label>
      </ion-item>
    </ion-list>
  </ion-content>
</ion-menu>

<ion-router-outlet id="main-admin"></ion-router-outlet>