<app-header titulo="DISPONIBILIDAD AREA COMUN" menu=RESIDENTE></app-header>
<dx-form id="form"
	[formData]="reserva">
	<dxi-item itemType="group" cssClass="first-group" [colCount]="4">
		<dxi-item itemType="group" [colSpan]="3">
				<dxi-item dataField="Fecha"></dxi-item>
				<dxi-item dataField="Area"></dxi-item>
                <dxi-item dataField="HoraInicial" editorType="dxSelectBox" [editorOptions]="{ items: hora_i}"></dxi-item>
        		<dxi-item dataField="HoraFinal" editorType="dxSelectBox" [editorOptions]="{ items: hora_f}"></dxi-item>
        		<dxi-item dataField="CantidadDePersonas" editorType="dxSelectBox" [editorOptions]="{ items: cantidad_p}"></dxi-item>
		</dxi-item>
	</dxi-item>
	<dxi-item itemType="group" cssClass="second-group" [colCount]="2">
		<dxi-item dataField="Descripcion" [colSpan]="2" editorType="dxTextArea" [editorOptions]="{ height: 140 }"></dxi-item>
	</dxi-item>
    <dxi-item 
            itemType="button"
            horizontalAlignment="center"
            [buttonOptions]="buttonOptions1">
    </dxi-item>
    <dxi-item 
            itemType="button"
            horizontalAlignment="center"
            [buttonOptions]="buttonOptions2">
    </dxi-item>
    <dxi-item 
            itemType="button"
            horizontalAlignment="center"
            [buttonOptions]="buttonOptions3">
    </dxi-item>
</dx-form>