<app-header titulo="ÁREAS COMUNES" menu=ADMIN></app-header>
<div class="forma">
<div class="form">
    <div class="dx-fieldset">
        <div class="dx-field">
            <div class="dx-field-label">Tipo: </div>
            <div class="dx-field-value">
                <dx-radio-group
                    [items]="tipo"
                    [(value)]="tiposelect"
                    layout="horizontal">
                </dx-radio-group>
            </div>
        </div>
        </div>
    </div>
<dx-form id="form"
	[formData]="area"
	[labelLocation]="top">
	<dxi-item itemType="group" cssClass="first-group" [colCount]="4">
	
            	<dxi-item dataField="Seleccionada" editorType="dxSelectBox" 
                [editorOptions]="{ caption: 'Seleccione un area',items: listaRespuestas }"></dxi-item>
		
	</dxi-item>

</dx-form>

<p class="derecho">Habilitar/Deshabiliatar</p>
<ion-toggle class= "derechoT" color="residente" ></ion-toggle>

<ion-button class="botIng2"
      (click)="BorrarArea()"
      expand="full"
      shape="round"
      color="residente"
      type="submit"
	 
      >
	  <ion-icon name="trash"></ion-icon>
	  Eliminar</ion-button
    >
	<ion-button class="botIng3"
      (click)="verArea()"
      expand="full"
      shape="round"
      color="residente"
      type="submit"
	 
      >
	  <ion-icon name="pencil"></ion-icon>
	  Modificar</ion-button
    >
	<ion-button class="botIng4"
      (click)="mandarAreaNueva()"
      expand="full"
      shape="round"
      color="residente"
      type="submit"
	  

      >
	  <ion-icon name="add-circle"></ion-icon>
	  Nueva Area</ion-button
    >
</div>