::ng-deep .first-group,
::ng-deep .second-group {
    padding: 20px;
}
::ng-deep #button {
    margin:0 auto;
    display:block;
}
.forma {
    margin-left: 20px;
    margin-right: 20px;
    margin-bottom: 440px;
}
.botIng2{
    padding-left: 40px;
    padding-right:20px;
    width: 300px;
    margin-bottom: 50px;
    margin-top: 50px;
}

.botIng3{
    padding-left: 40px;
    padding-right:20px;
    width: 300px;
    margin-bottom: 100px;
}

.botIng4{
    padding-left: 40px;
    padding-right:20px;
    width: 300px;
    margin-bottom: 100px;
}

.derecho{
    margin-left: 86px;
    font-size: 15px;
}
.derechoT{
    margin-left: 130px;
}