<app-header titulo="AREAS COMUNES" menu=ADMIN></app-header>
<div class="form">
    <div class="dx-fieldset">
        <div class="dx-field">
            <div class="dx-field-label">Tipo: </div>
            <div class="dx-field-value">
                <dx-radio-group
                    [items]="tipo"
                    [value]="tipo[0]"
                    layout="horizontal">
                </dx-radio-group>
            </div>
        </div>
        </div>
    </div>
<dx-form id="form"
	[formData]="area">
	<dxi-item itemType="group" cssClass="first-group" [colCount]="4">
		<dxi-item itemType="group" [colSpan]="3">
            	<dxi-item dataField="ListaDeAreasComunes" editorType="dxSelectBox" [editorOptions]="{ items: listaAreas }"></dxi-item>
		</dxi-item>
	</dxi-item>
        <dxi-item 
            itemType="button"
            horizontalAlignment="center"
            [buttonOptions]="buttonOptions1">
        </dxi-item>
        <dxi-item 
            itemType="button"
            horizontalAlignment="center"
            [buttonOptions]="buttonOptions2">
        </dxi-item>
 <dxi-item itemType="group" caption=" ">
        <dxi-item 
            itemType="button"
            horizontalAlignment="center"
            [buttonOptions]="buttonOptions3">
        </dxi-item>
     </dxi-item>
</dx-form>