<ion-header class="ion-no-border">
  <ion-toolbar color="residente">
  </ion-toolbar >
  <ion-toolbar color="light">
      <ion-buttons slot="start" (click)="toggleMenu()">
        <ion-icon slot="icon-only" name="menu" color="residente-txt"></ion-icon>
      </ion-buttons>
      <ion-title slot="start" color="residente-txt">{{titulo}}</ion-title>
  </ion-toolbar>
</ion-header>

<div *ngIf="menu == 'ADMIN'">
  <app-menu-admin></app-menu-admin>
</div>

<div *ngIf="menu == 'RESIDENTE'">
  <app-menu-residente></app-menu-residente>
</div>

<div *ngIf="menu == 'EMPLEADO'">
  <app-menu-empleado></app-menu-empleado>
</div>