<ion-header class="ion-no-border">
  <ion-toolbar color="residente">
  </ion-toolbar >
  <ion-toolbar>
    <div *ngIf="menu == 'NO'; then thenBlock else elseBlock"></div>
    <ng-template #thenBlock>
      <ion-buttons slot="start" (click)="goBack()">
        <ion-label slot="start" color="residente-txt"><ion-icon slot="icon-only" name="chevron-back-outline" color="residente-txt"></ion-icon><strong>&nbsp;&nbsp;{{titulo}}</strong></ion-label>
      </ion-buttons>
    </ng-template>
    <ng-template #elseBlock>
      <ion-buttons slot="start" (click)="toggleMenu()">
        <ion-label slot="start" color="residente-txt"><ion-icon slot="icon-only" name="menu" color="residente-txt"></ion-icon><strong>&nbsp;&nbsp;{{titulo}}</strong></ion-label>
      </ion-buttons>
    </ng-template>
  </ion-toolbar>
</ion-header>

<div *ngIf="menu == 'ADMIN'">
  <app-menu-admin></app-menu-admin>
</div>

<div *ngIf="menu == 'RESIDENTE'">
  <app-menu-residente></app-menu-residente>
</div>

<div *ngIf="menu == 'EMPLEADO'">
  <app-menu-empleado></app-menu-empleado>
</div>