<!--<ion-content>
  <ion-card>
    <ion-card-title> Asamblea: {{getAsamblea()}} </ion-card-title>
    <ion-card-subtitle> Propuesta: {{getPropuesta()}} </ion-card-subtitle>
    <ion-card-header>  Cantidad de Votos: {{getTotalVotaciones()}}</ion-card-header>
    <ion-card-content>  Ganador: {{getGanador()}} </ion-card-content>
  </ion-card>
</ion-content>-->
<ion-content>
  <ion-card>
    <ion-card-title> Asamblea:  </ion-card-title>
    <ion-card-subtitle> Propuesta: </ion-card-subtitle>
    <ion-card-header>  Cantidad de Votos:</ion-card-header>
    <ion-card-content>  Ganador:  </ion-card-content>
  </ion-card>
</ion-content>