<app-header titulo="PAQUETES" menu=EMPLEADO></app-header>

<ion-content>
  <div class="content-div">
    <ion-card> <br> <br> 
      <ion-label color="dark">&nbsp;&nbsp;&nbsp;&nbsp;Tamaño</ion-label>
      <ion-list>
        <ion-item lines="none">
          <ion-select [(ngModel)]="tamanoSeleccionado" (ionChange)="optionsTamano();" [interfaceOptions]="customPopoverOptions" interface="popover" placeholder="&nbsp;&nbsp;Seleccione"
            id="rounded">
            <div>
              <ion-select-option value="Grande">&nbsp;&nbsp;Grande</ion-select-option>
              <ion-select-option value="Mediano">&nbsp;&nbsp;Mediano</ion-select-option>
              <ion-select-option value="Pequeño">&nbsp;&nbsp;Pequeño</ion-select-option>
            </div>
          </ion-select>
        </ion-item>
<!--         <div>
          <ng-container>
            <div class="msjVeri"
              *ngIf="
                loginForm.get('tamano').hasError(validation.type) &&
                (loginForm.get('tamano').dirty || loginForm.get('tamano').touched)
              "
            >
              {{ validation.message }}
            </div>
          </ng-container>
        </div> -->
      </ion-list> 
    </ion-card> 
    <ion-card>
      <ion-label color="dark">&nbsp;&nbsp;&nbsp;&nbsp;Fecha</ion-label>
      <ion-item lines="none">
        <ion-input disabled id="labelborde" id="rounded">&nbsp;&nbsp;18/05/2021</ion-input>
      </ion-item>
    </ion-card> 

    <ion-card>
      <ion-label color="dark">&nbsp;&nbsp;&nbsp;&nbsp;Hora</ion-label>
      <ion-item lines="none">
        <ion-input disabled id="labelborde" id="rounded">&nbsp;&nbsp;14:02</ion-input>
      </ion-item>
    </ion-card> 

    <ion-card>
      <ion-label color="dark">&nbsp;&nbsp;&nbsp;&nbsp;Remitente</ion-label>
      <ion-item lines="none">
        <ion-input [(ngModel)]="remi" (ionChange)="Remitente();" id="rounded">&nbsp;&nbsp;</ion-input>
      </ion-item>
      <!-- <div>
        <ng-container>
          <div class="msjVeri"
            *ngIf="
              loginForm.get('remitente').hasError(validation.type) &&
              (loginForm.get('remitente').dirty || loginForm.get('remitente').touched)
            "
          >
            {{ validation.message }}
          </div>
        </ng-container>
      </div> -->
    </ion-card>
  </div>

  <div id="centrado">
    <br> <br>
    <ion-button color="{{getColorReportar()}}" (click)="botonReportar()">
      <ion-label> Reportar </ion-label>
    </ion-button>
  </div>
</ion-content>