<app-header titulo="PAQUETES" menu=EMPLEADO></app-header>

<ion-content>
    <div>
        <ion-card>
            <ion-label color="dark">&nbsp;&nbsp;&nbsp;&nbsp;Apartamentos</ion-label>
            <ion-list>
                <ion-item lines="none">
                    <ion-select [(ngModel)]="place" (ionChange)="optionsFn();" [interfaceOptions]="customPopoverOptions" interface="popover" placeholder="&nbsp;&nbsp;Seleccione" id="rounded" >
                        <div *ngFor="let apto of aptos">
                            <ion-select-option value="{{apto.id}}">&nbsp;&nbsp;{{apto.torre}}-{{apto.numero}}
                            </ion-select-option>
                        </div>
                    </ion-select>
                </ion-item>
            </ion-list>
        </ion-card>
    </div>

    <div style="overflow:scroll" class="content-div">
        <ion-card>
            <div *ngFor="let paquete of paquetes">
                <ion-item>
                    <ion-label>Paquete {{paquete.id}}</ion-label>
                    <ion-buttons slot="end" (click)="eliminarPaquete(paquete)">
                        <ion-icon slot="icon-only" color="residente" name="trash-outline"></ion-icon>
                    </ion-buttons>
                </ion-item>
            </div>
        </ion-card>
    </div>

    <div id="centrado">
        <br> <br>
        <ion-button color="residente" routerLink="/nuevo-paquete">
            <ion-label> Nuevo Paquete </ion-label>
        </ion-button>
    </div>

</ion-content>