<dx-form id="form"
	[formData]="votos">
	<dxi-item itemType="group" cssClass="first-group" [colCount]="6">

		<dxi-item itemType="group" [colSpan]="6">
            	<dxi-item dataField="Asamblea" [editorOptions]="{ disabled:true}" ></dxi-item>
				<dxi-item dataField="totalVotaciones" [editorOptions]="{ disabled:true}" ></dxi-item>
            	<dxi-item dataField="Ganador" [editorOptions]="{ disabled:true}" ></dxi-item>

            
		</dxi-item>
	</dxi-item>
</dx-form>

<div class="buttons-demo">
    <div class="buttons">
        <div>
            <div class="buttons-column">
                <div>
                    <dx-button
                        stylingMode="contained"
                        text="Publicar"
                        type="success"
                        [width]="120"
                        (onClick)="click($event)">
                    </dx-button>
                </div>
            </div>
        </div>
    </div>
</div>