<ion-header class="ion-no-border">
  <ion-toolbar color="residente">
  </ion-toolbar >
  <ion-toolbar color="light"> 
    <div *ngIf="menu == 'NO'; then thenBlock else elseBlock"></div>
    <ng-template #thenBlock>
      <!-- <ion-buttons slot="start">
        <ion-back-button></ion-back-button>
      </ion-buttons>  
      FALTAAAAA EL BOTON DE REGRESO  -->
    </ng-template>
    <ng-template #elseBlock>
      <div *ngIf="menu == 'ADMIN'; then adminBlock"></div>
      
      <div *ngIf="menu == 'RESIDENTE'; then residenteBlock"></div>
      
      <div *ngIf="menu == 'EMPLEADO'; then empleadoBlock"></div>
    </ng-template>

    <ng-template #adminBlock>
      <!-- <ion-buttons slot="primary">
        <ion-menu-button color="residente-txt" menu="menu-admin"></ion-menu-button>
      </ion-buttons> -->
      <ion-buttons slot="start" (click)="toggleMenu()">
        <ion-icon slot="icon-only" name="menu" color="residente-txt"></ion-icon>
      </ion-buttons>
    </ng-template>

    <ng-template #residenteBlock>
      <ion-buttons slot="start">
        <ion-menu-button color="residente-txt" menu="menu-residente"></ion-menu-button>
      </ion-buttons>
    </ng-template>

    <ng-template #empleadoBlock>
      <ion-buttons slot="start">
        <ion-menu-button color="residente-txt" menu="menu-empleado"></ion-menu-button>
      </ion-buttons>
    </ng-template>

    <strong><ion-title class="" color="residente-txt">{{titulo}}</ion-title> </strong>

  </ion-toolbar>
</ion-header>

<div *ngIf="menu == 'ADMIN'">
  <app-menu-admin></app-menu-admin>
</div>

<div *ngIf="menu == 'RESIDENTE'">
  <app-menu-residente></app-menu-residente>
</div>

<div *ngIf="menu == 'EMPLEADO'">
  <app-menu-empleado></app-menu-empleado>
</div>