<app-header titulo="ASAMBLEA" menu=ADMIN></app-header>
<dx-tab-panel
    #tabPanel
    [height]="500"
    [dataSource]="companies"
    [selectedIndex]="0"
    [loop]="false"
    [animationEnabled]="true"
    [swipeEnabled]="true"
>
    <div *dxTemplate="let company of 'title'">
        <span>{{company.CompanyName}}</span>
    </div>
    <div *dxTemplate="let company of 'item'">
        <div class="tabpanel-item">
			<dx-form id="form"
			[formData]="asamblea"
			>
		
			<dxi-item *ngIf="step==1" itemType="group" cssClass="first-group" [colCount]="4">
				
				<dxi-item itemType="group" [colSpan]="3">
						<dxi-item dataField="IdAsamblea"></dxi-item>
					<dxi-item dataField="FechaAsamblea" editorType="dxDateBox" [editorOptions]="{ width: '100%'}"></dxi-item>
						<dxi-item dataField="Tema"></dxi-item>
						<dxi-item dataField="NumeroPropuestas" editorType="dxSelectBox" [editorOptions]="{ items: Nopciones }"></dxi-item>
				</dxi-item>
			</dxi-item>
		
			<dxi-item  itemType="group" cssClass="second-group" [colCount]="2">
				
				<dxi-item itemType="group">
					
					<dxi-item dataField="Nombre"></dxi-item>
					
				</dxi-item>
			</dxi-item>
			
		</dx-form>
        </div>
    </div>
</dx-tab-panel>
<div class="item-box">
    Item <span>{{tabPanel.selectedIndex + 1}}</span> of <span>{{itemCount}}</span>
</div>