

<div class="content-block dx-card responsive-paddings">
    <app-header-start titulo="Registrate"></app-header-start>
<form  action="your-action"  (submit)="onFormSubmit($event)">

    <ion-card  class="subir" routerLink="/ingreso" >
    <ion-card-header>
        <ion-card-subtitle> Volver al Ingreso </ion-card-subtitle>
    </ion-card-header>

</ion-card>
    <dx-form id="form"
        [formData]="customer"
        [readOnly]="false"
        [showColonAfterLabel]="true"
        [showValidationSummary]="true"  
        validationGroup="customerData">
        <dxi-item itemType="group" caption="Cuenta">
            <dxi-item dataField="Correo">
                <dxi-validation-rule 
                    type="required"
                    message="Correo requerido">
                </dxi-validation-rule>
                <dxi-validation-rule 
                    type="email"
                    message="Correo Invalido">
                </dxi-validation-rule>
                <dxi-validation-rule 
                    type="async" 
                    message="Correo ya registrado" 
                    [validationCallback]="asyncValidation">
                </dxi-validation-rule>
            </dxi-item>
            <dxi-item dataField="Contraseña"
                [editorOptions]="{ mode: 'password' }">
                <dxi-validation-rule 
                    type="required"
                    message="Contraseña es obligatoria">
                </dxi-validation-rule>
            </dxi-item>
            <dxi-item 
                editorType="dxTextBox"
                [editorOptions]="{ mode: 'password' }">
                <dxo-label
                    text="Contraseña confirmada">
                </dxo-label>
                <dxi-validation-rule 
                    type="required"
                    message="contraseña requerida">
                </dxi-validation-rule>
                <dxi-validation-rule 
                    type="compare" 
                    [comparisonTarget]="passwordComparison"
                    message="contraseña incorrecta">
                </dxi-validation-rule>
            </dxi-item>
            <dxi-item dataField="Nombres">
                <dxi-validation-rule 
                    type="required"
                    message="Nombre es requerido">
                </dxi-validation-rule>
                <dxi-validation-rule 
                    type="pattern"
                    [pattern]="namePattern"
                    message=" no use numeros en su nombre">
                </dxi-validation-rule>
            </dxi-item>
            <dxi-item dataField="Apellidos">
                <dxi-validation-rule 
                    type="required"
                    message="Apellido es requerido">
                </dxi-validation-rule>
                <dxi-validation-rule 
                    type="pattern"
                    [pattern]="namePattern"
                    message="no use numeros en su Apellido">
                </dxi-validation-rule>
            </dxi-item>
             <dxi-item dataField="Usuario">
                <dxi-validation-rule 
                    type="required"
                    message="Usuario es requerido">
                </dxi-validation-rule>
                <dxi-validation-rule 
                    
                    message="usuario ya registrado">
                </dxi-validation-rule>
            </dxi-item>
                <dxi-item dataField="Rol">
                <dxi-validation-rule 
                    type="required"
                    message="Rol requerido">
                </dxi-validation-rule>
                <dxi-validation-rule 
                    type="pattern"
                    [pattern]="namePattern"
                    message="no use numeros en su rol">
                </dxi-validation-rule>
            </dxi-item>
            <dxi-item dataField="Phone"
                [editorOptions]="{ 
                    mask: '+57 (X00) 000-0000',
                    maskRules: phoneRules,
                    useMaskedValue: true,
                    maskInvalidMessage: 'forma de telefono correcta '
                }">
                <dxi-validation-rule 
                    type="pattern"
                    [pattern]="phonePattern"
                    message="Forma del telefono no compatible">
                </dxi-validation-rule>
            </dxi-item>
            <dxi-item 
                itemType="simple"
                dataField="Accepted"
                editorType="dxCheckBox"
                [editorOptions]="{ 
                    text: 'Estoy de acuerdo con los terminos y condiciones',
                    value: false
                }">
                <dxo-label
                    [visible]="false">
                </dxo-label>
                <dxi-validation-rule 
                    type="compare"
                    [comparisonTarget]="checkComparison"
                    message="Debe estar de acuerdo con los terminos y condiciones">
                </dxi-validation-rule>
            </dxi-item>
        </dxi-item>
       
        <dxi-item 
            itemType="button"
            horizontalAlignment="left"
            [buttonOptions]="buttonOptions">
        </dxi-item> 
        
        
    </dx-form>

</form>


</div>

