::ng-deep form {
    margin: 30px;
    margin-bottom: 450px;
   
}

.subir {
    height: 50px;
    width: 200px;
    margin-left: 50pxs;
    
}

::ng-deep border {
   color: aquamarine;
}

.content-block {
    
    margin-right: 40px;
    margin-bottom: 50px;
    
    width: 370px;
}