<app-header titulo="NOTICIAS" menu="{{getUser()}}"></app-header>

<ion-content>
    <div>
        <br>
        <ion-item lines="none">
            <ion-textarea placeholder="&nbsp;&nbsp;Comparte con tu comunidad" id="rounded">
            </ion-textarea>
        </ion-item>
        <div id="derecha">
            <ion-button color="residente" id="botonImagen">
                <ion-icon name="image-outline"></ion-icon>
            </ion-button>
        </div>
        <div id="derecha">
            <ion-button color="residente" id="botonPublicar">
                <ion-label>Publicar</ion-label>
            </ion-button>
        </div>
    </div>
    <div style="overflow:scroll" class="content-div">
        <ion-card id="rounded">
            <ion-card-content>
                <ion-item lines="none">
                    <ion-avatar item-start>
                        <ion-img src="/../../../../assets/icon/IconConjuntos/avatar.jpg"></ion-img>
                    </ion-avatar>
                    <ion-label>&nbsp;&nbsp;Titulo</ion-label>
                </ion-item>
                <ion-img src="/../../../../assets/icon/IconConjuntos/Edi.png" alt="Conjunto"></ion-img>
                <br>
                <ion-label>Informacion de la publicacion</ion-label>
            </ion-card-content>
        </ion-card>
    </div>
</ion-content>