<ion-toolbar color="residente">
</ion-toolbar >
<div class="estetic">
<dx-form id="form"
	[formData]="fechaArea"
	[labelLocation]="label">
	<dxi-item itemType="group" cssClass="first-group" [colCount]="4">
		<dxi-item itemType="group" [colSpan]="3">
				<dxi-item dataField="HoraDeApertura" editorType="dxSelectBox" [editorOptions]="{ items: horaDeApertura, value: '' }"></dxi-item>
            	<dxi-item dataField="HoraDeCierre" editorType="dxSelectBox" [editorOptions]="{ items: horaDeCierre, value: '' }"></dxi-item>
            	<dxi-item dataField="DiasDisponibles" editorType="dxSelectBox" [editorOptions]="{ items: diasDisponibles, value: '' }"></dxi-item>
		</dxi-item>
	</dxi-item>
  
</dx-form>

<ion-button class="botIng"
      (click)="goToAcept()"
      expand="full"
      shape="round"
      color="residente"
      type="submit"
      >Aceptar</ion-button
    >

	<ion-button class="botIng"
      (click)="goToCancel()"
      expand="full"
      shape="round"
      color="danger"
      type="submit"
      >Cancelar</ion-button
    >

</div>