<dx-form id="form"
	[formData]="fechaArea">
	<dxi-item itemType="group" cssClass="first-group" [colCount]="4">
		<dxi-item itemType="group" [colSpan]="3">
				<dxi-item dataField="HoraDeApertura" editorType="dxSelectBox" [editorOptions]="{ items: horaDeApertura, value: '' }"></dxi-item>
            	<dxi-item dataField="HoraDeCierre" editorType="dxSelectBox" [editorOptions]="{ items: horaDeCierre, value: '' }"></dxi-item>
            	<dxi-item dataField="DiasDisponibles" editorType="dxSelectBox" [editorOptions]="{ items: diasDisponibles, value: '' }"></dxi-item>
		</dxi-item>
	</dxi-item>
    <dxi-item itemtype="button">
		<dx-button
			id="button"
			text="Aceptar"
			type="success"
			[width]="180"
			[useSubmitBehavior]="true"
			(onClick)="click($event)">
		</dx-button>
	</dxi-item>
    <dxi-item itemtype="button">
		<dx-button
		id="button"
		text="Cancelar"
		type="danger"
		[width]="180"
		[useSubmitBehavior]="true"
		(onClick)="click($event)">
		</dx-button>
	</dxi-item>
</dx-form>