<app-header-start titulo="Ingresa a tu cuenta"></app-header-start>
<form action="your-action" (submit)="onFormSubmit($event)">
    <dx-form id="form"
        [readOnly]="false"
        [showColonAfterLabel]="true"
        [showValidationSummary]="true">
            <dxi-item id= "correo" dataField="Email">
                <dxi-validation-rule 
                    type="required"
                    message="Email is required">
                </dxi-validation-rule>
                <dxi-validation-rule 
                    type="email"
                    message="Correo es invalido">
                </dxi-validation-rule>
                <dxi-validation-rule 
                    type="async" 
                    message="Correo no se encuentra registrado" 
                    [validationCallback]="asyncValidation">
                </dxi-validation-rule>
            </dxi-item>
            
            <dxi-item id = "contra" dataField="Password"
                [editorOptions]="{ mode: 'password' }">
                <dxi-validation-rule 
                    type="required"
                    message="La contraseña es obligatoria">
                </dxi-validation-rule>
                <dxi-validation-rule 
                    type="async" 
                    message="La contraseña o el correno no coinciden" 
                    [validationCallback]="asyncValidationContra">
                </dxi-validation-rule>
            </dxi-item>
            
       
        <dxi-item id = "botIngre"
            itemType="button"
            horizontalAlignment="center"
            [buttonOptions]="buttonOptions">
        </dxi-item>
    </dx-form>
</form>

    <ion-button
      (click)="goToRegister()"
      expand="block" 
      size= "small" 
      color="residente"
      >Registrarse</ion-button
    >
