::ng-deep .first-group,
::ng-deep .second-group {
    padding: 20px;
}

::ng-deep #button {
    margin:0 auto;
    display:block;
}

.botIng{
    padding-left: 40px;
    padding-right:20px;
    width: 300px;
    margin-bottom: 100px;
}

.borde{
    margin-left: 20px;
    margin-right: 20px;
}