<app-header titulo="AGREGAR AREA COMUN" menu=ADMIN></app-header>
<dx-form id="form"
	[formData]="nuevaArea">
	<dxi-item itemType="group" cssClass="first-group" [colCount]="4">
		<dxi-item itemType="group" [colSpan]="3">
				<dxi-item dataField="NombreDelArea"></dxi-item>
            	<dxi-item dataField="Tipo" editorType="dxSelectBox" [editorOptions]="{ items: tipo, value: '' }"></dxi-item>
				<dxi-item dataField="CapacidadMaxima"></dxi-item>
				<dxi-item dataField="Estado" editorType="dxSelectBox" [editorOptions]="{ items: status, value: '' }"></dxi-item>
            	<dxi-item dataField="Descripcion" [colSpan]="2" editorType="dxTextArea" [editorOptions]="{ height: 140 }"></dxi-item>
		</dxi-item>
	</dxi-item>
	<dxi-item itemtype="button">
		<dx-button
		id="button"
		text="Agregar Horario"
		type="success"
		[width]="180"
		[useSubmitBehavior]="true"
		(onClick)="click($event)">
		</dx-button>
	</dxi-item>
	<dxi-item itemType="group" caption=" ">
	<dxi-item itemtype="button">
		<dx-button
		id="button"
		text="Aceptar"
		type="success"
		[width]="120"
		[useSubmitBehavior]="true"
		(onClick)="click($event)">
		</dx-button>
	</dxi-item>
</dxi-item>
</dx-form>