<app-header titulo="AGREGAR ÁREA COMÚN" menu=NO routeBack="/area-comun-admin"></app-header>
<div class="borde">
<dx-form id="form"
	[formData]="nuevaArea"
	[labelLocation]="label">
	<dxi-item itemType="group" cssClass="first-group" [colCount]="4">
		
				<dxi-item dataField="nombre"></dxi-item>
            	<dxi-item dataField="tipo" editorType="dxSelectBox" [editorOptions]="{ items: tipo, value: '' }"></dxi-item>
				<dxi-item dataField="capacidad"></dxi-item>
				<dxi-item dataField="horaApertura" editorType="dxSelectBox" [editorOptions]="{ items: horaDeApertura, value: '' }"></dxi-item>
            	<dxi-item dataField="horaCierre" editorType="dxSelectBox" [editorOptions]="{ items: horaDeCierre, value: '' }"></dxi-item>
            	<dxi-item dataField="nombreDia" editorType="dxSelectBox" [editorOptions]="{ items: diasDisponibles, value: '' }"></dxi-item>
                <dxi-item dataField="descripcion" [colSpan]="2" editorType="dxTextArea" [editorOptions]="{ height: 140  }"></dxi-item>
	</dxi-item>

</dx-form>

</div>

<ion-button class="botIng"
      (click)="mandarArea()"
      expand="full"
      shape="round"
      color="residente"
      type="submit"
	 
      >Agregar</ion-button
    >


