<app-header titulo="ASAMBLEA" menu=NO routeBack="/lista-asambleas-residentes"></app-header>

<ion-content>
    <ion-slides pager="true" #theSlides>
        <ion-slide *ngFor="let propuesta of getPropuestas()">
            <div style="overflow:scroll" class="content-div">
                <ion-textarea> <br> <i>{{propuesta.descripcion}}</i> </ion-textarea>
                <div *ngFor="let opcion of propuesta.opciones">
                    <!--<ion-card color="{{getColorCards(propuesta)}}" (click)="votar(opcion,propuesta)">-->
                    <ion-card color="residente">
                        <ion-card-content>
                            {{opcion.nombre}}
                        </ion-card-content>
                    </ion-card>
                </div>
            </div>
            <div>
                <!--<ion-card color="{{getColorResultados(propuesta)}}" (click)="enviarPropuesta(propuesta)">-->
                <ion-card color="residente">
                    <ion-card-content>
                        Ver Resultados
                    </ion-card-content>
                </ion-card>
            </div>
        </ion-slide>
    </ion-slides>
</ion-content>