<app-header titulo="{{getTemaAsamblea()}}" menu=NO routeBack="/lista-asambleas-residentes"></app-header>

<ion-content>
    <ion-slides pager="true" #theSlides>
        <ion-slide *ngFor="let propuesta of getPropuestas()">
            <div id="propTitle">
                <p id="txtP"> <br> <i>{{propuesta.descripcion}}</i> </p>
            </div>
            <div style="overflow:scroll" class="content-div">
                <div *ngFor="let opcion of propuesta.opciones">
                    <br>
                    <ion-card color="{{getColorVotos(propuesta)}}" class="cardB" (click)="votar(opcion,propuesta)">
                        <ion-card-content>
                            {{opcion.nombre}}
                        </ion-card-content>
                    </ion-card>
                </div>
            </div>
            <!--<div>
                <ion-row>
                <ion-col>
                <ion-button id="izquierda" color="residente" (click)="prev(theSlides)">
                    <ion-icon slot="icon-only" name="chevron-back-outline" color="residente-txt"></ion-icon>
                </ion-button>
                </ion-col>
                <ion-col>
                <ion-button id="derecha" color="residente" (click)="next(theSlides)">
                    <ion-icon slot="icon-only" name="chevron-forward-outline" color="residente-txt"></ion-icon>
                </ion-button>
                </ion-col>
            </ion-row>
            </div>-->
        </ion-slide>
        <ion-slide>
            <ion-label><strong>Resultados</strong></ion-label>
            <ion-content>
                <div style="overflow:scroll" class="content-div">
                    <ion-card *ngFor="let result of getResultadosVoto()">
                        <ion-card-content>
                            <ion-item lines="none">
                                <p id="letraR"><strong>Propuesta: </strong> &nbsp;&nbsp;{{result.propuesta}}</p>
                            </ion-item>
                            <ion-item lines="none">
                                <p id="letraR"><strong>Estado: </strong>&nbsp;&nbsp; {{result.res}}</p>
                            </ion-item>
                            <ion-item lines="none">
                                <p id="letraR"><strong>Cantidad de Votos: </strong>&nbsp;&nbsp; {{result.cantVotos}}</p>
                            </ion-item>
                            <ion-item lines="none">
                                <p id="letraR"><strong>Ganador: </strong>&nbsp;&nbsp; {{result.ganador}}</p>
                            </ion-item>
                        </ion-card-content>
                    </ion-card>
                </div>
            </ion-content>
        </ion-slide>
    </ion-slides>
</ion-content>