ion-slides {
    --bullet-background: #c9e265;
    --bullet-background-active: #c9e265;
    height: 100%;
    width: 100%;
}

ion-card{
    left: 10%;
    width: 70%;
}
ion-slide {
    display: block;
}

ion-textarea{
    left: 20%;
    width: 60%;
}

.content-div{
    height: 85%;
}

ion-content {
    --overflow: hidden;
}

#derecha{
    width: 94%;
    text-align: right;
}

#izquierda{
    width: 94%;
    padding-left: 5%;
    text-align: left;
}


