::ng-deep .widget-container {
    margin-right: 325px;
    margin-left: 20px;
    margin-bottom: 5px;
    max-width: 150px;
    min-width: 120px;
}

::ng-deep .form-demo{
    margin-right: 325px;
    margin-left: 10px;
    margin-bottom: 400px;
}

