<app-header titulo="ASAMBLEA" menu=ADMIN></app-header>

<ion-content>
  <div style="overflow:scroll" class="content-div">
    <ion-card class="ion-text-left" (click)="goRoute(asamblea)" *ngFor="let asamblea of asambleas">
      <ion-card-header>
        <ion-card-subtitle> {{getAsambleaFecha(asamblea)}} {{getAsambleaHora(asamblea)}} </ion-card-subtitle>
        <ion-card-title> {{asamblea.tema}} </ion-card-title>
      </ion-card-header>
      <ion-card-content> {{getAsambleaEstado(asamblea)}} </ion-card-content>
    </ion-card>
  </div>
  <div id="centrado">
    <br>
    <ion-button color="residente" (click)="botonNuevaAsamblea()">
      <ion-label> Nueva Asamblea </ion-label>
    </ion-button>
  </div>
</ion-content>