<app-header titulo="PAQUETES" menu=RESIDENTE></app-header>

<ion-content>
    <ion-card>
    <div *ngFor="let paquete of paquetes"> 
        <ion-item>
            <ion-label><strong> Paquete {{paquete.paquetePK.idPaqueete}} </strong></ion-label>
            <ion-buttons slot="end" (click)="listOpen(paquete)"> 
                <ion-icon slot="icon-only" color="residente" name="add-circle-outline"></ion-icon>
            </ion-buttons>
        </ion-item>
            <ion-list *ngIf="getPaqueteView(paquete)=='mostrar'">
                <ion-item>
                    <ion-label color="medium"> Tamaño: {{paquete.tamano}}</ion-label>
                </ion-item>
                <ion-item>
                    <ion-label color="medium"> Fecha: {{paquete.fecha}}</ion-label>
                </ion-item>
                <ion-item>
                    <ion-label color="medium"> Hora: {{paquete.hora}}</ion-label>
                </ion-item>
                <ion-item>
                    <ion-label color="medium"> Remitente: {{paquete.remitente}}</ion-label>
                </ion-item>
            </ion-list>
    </div>
</ion-card>
</ion-content>