<ion-header class="ion-no-border">
  <ion-toolbar color="residente">
  </ion-toolbar >
  <ion-toolbar>
      <ion-buttons slot="start" (click)="goBack()">
        <ion-icon slot="icon-only" name="chevron-back-outline" color="residente-txt"></ion-icon>
      </ion-buttons>
      <ion-text slot="start" color="residente-txt">
          <h3>{{nombre}}</h3>
      </ion-text>
  </ion-toolbar>
</ion-header>


<ion-content>
  <br>
  <br>
  <div class="content-div">
    <ion-card>
      <ion-label color="dark">&nbsp;&nbsp;&nbsp;&nbsp;Contraseña vieja</ion-label>
      <ion-item lines="none">
        <ion-input disabled id="labelborde" id="rounded">&nbsp;&nbsp;{{contra}}</ion-input>
      </ion-item>
    </ion-card> 

    <br>
    <ion-card>
      <ion-label color="dark">&nbsp;&nbsp;&nbsp;&nbsp;Nueva contraseña</ion-label>
      <ion-item lines="none">
        <ion-input [(ngModel)]="ncontra" id="rounded">&nbsp;&nbsp;</ion-input>
      </ion-item>
    </ion-card>
  

  <div id="centrado">
    <h4 color="residente">{{error}}</h4>
    <ion-button color="{{getColorReportar()}}" (click)="botonReportar()">
      <ion-label> Cambiar contraseña </ion-label>
    </ion-button>
  </div>
</div>
</ion-content>
