::ng-deep .widget-container {
    margin-right: 70px;
    margin-left: 20px;
    margin-bottom: 5px;
    
}

::ng-deep .rol{
    margin-left: 20px;
    margin-top: 20px;
}
::ng-deep .rolo{
    margin-left: 26px;
    margin-top: 20px;
}

::ng-deep .nombre{
    margin-left: 20px;
    margin-top: 20px;
}

::ng-deep .nombree{
    margin-left: 26px;
    margin-top: 20px;
}
::ng-deep .form{
    margin-left: 50px;
    margin-top: 20px;
    margin-bottom: 100px;
}

::ng-deep .form-demo{
    margin-right: 70px;
    margin-left: 10px;
    margin-bottom: 10px;
}

