<div id="colorverde">
<app-header-start titulo="MANIFIESTA TU QUEJA"></app-header-start>
</div>


<dx-form id="Hacermargen"
    [formData]="queja">
    <dxi-item itemType="group" cssClass="first-group" [colCount]="4">

        <dxi-item itemType="group" [colSpan]="3">
                <dxi-item dataField="ID" [editorOptions]="{ disabled:true}"></dxi-item>
            <dxi-item dataField="Torre" [editorOptions]="{ disabled:true}"></dxi-item>
            <dxi-item dataField="Apartamento" [editorOptions]="{ disabled:true}"></dxi-item>
        </dxi-item>
    </dxi-item>
    <dxi-item itemType="group" cssClass="second-group" [colCount]="2">
        <dxi-item dataField="Notes" [colSpan]="2" editorType="dxTextArea" [editorOptions]="{ height: 140 }"></dxi-item>
    </dxi-item>
</dx-form>