::ng-deep .first-group,
::ng-deep .second-group {
    padding: 20px;
}

::ng-deep .second-group {
    background-color: rgba(191, 191, 191, 0.15);
}

#Hacermargen{
 margin: 20px;
 margin-bottom: 450px;
    }


#colorverde{

    background-color: aquamarine;
}
ion-textarea{
    width: 98%;
    height: 200px;
    
}
ion-card{
    width: 92%;
    border: solid 1px var(--ion-color-residente-txt);
    box-shadow: none !important;
    ion-card-content{
        padding-left: 0%;
        padding-right: 0%;
        padding-top: 0%;
        padding-bottom: 0%;
    }
}
.botIng{
    padding-left: 85px;
}
.bb{
    padding-left: 85px;
}