<app-header titulo="QUEJAS" menu=RESIDENTE></app-header>

<ion-content>
    <ion-item  class="bb" lines=none>
        <ion-label>Anónimo</ion-label>
        <ion-toggle [(ngModel)]="anonimus" slot="start" color="residente" checked></ion-toggle>
    </ion-item>
    <br>
    
    <ion-card>
        <ion-textarea rows="10" [(ngModel)]="descripcion" placeholder=" Escribe aquí tu queja"
        >
        </ion-textarea>
    </ion-card>
    <br>
    <br>
    <br>

    <ion-button class="botIng"
        (click)="envInfo()"
      shape="round"
      color="residente"
      type="submit"
      >Enviar queja</ion-button
    >
    
</ion-content>
