<app-header titulo="MODIFICAR RESERVACION" menu=NO routeBack="mis-reservas"></app-header>
<dx-form id="form" [formData]="reserva">
	<dxi-item itemType="group" cssClass="first-group" [colCount]="4">
		<dxi-item itemType="group" [colSpan]="3">
				<dxi-item dataField="fecha"></dxi-item>
				<dxi-item dataField="Area"></dxi-item>
				<dxi-item dataField="horaInicio" editorType="dxSelectBox" [editorOptions]="{ items: hora_i}"></dxi-item>
        		<dxi-item dataField="horaFinal" editorType="dxSelectBox" [editorOptions]="{ items: hora_f}"></dxi-item>
        		<dxi-item dataField="cantidadPersonas" editorType="dxSelectBox" [editorOptions]="{ items: cantidad_p}"></dxi-item>
				
		</dxi-item>
	</dxi-item>
	
</dx-form>

<ion-button class="boton"
(click)="modificarreserva()"
      expand="full"
      shape="round"
      color="residente"
      type="submit"
      >Modificar reserva</ion-button
 >