<ion-menu side="start" menuId="menu-admin" contentId="main-admin">
  <ion-header>
    <ion-toolbar color="residente">
      <ion-title>Menú</ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-content>
    <ion-list>
      <ion-item>Noticias</ion-item>
      <ion-item>Admin de Claves</ion-item>
      <ion-item>Asamblea</ion-item>
      <ion-item>Áreas Comunes</ion-item>
      <ion-item>Empleados</ion-item>
      <ion-item>Manual de Convivencia</ion-item>
      <ion-item>Quejas</ion-item>
      <ion-item>Cambiar Conjunto</ion-item>
      <ion-item>Sobre Residentes</ion-item>
      <ion-item>Cerrar Sesión</ion-item>
    </ion-list>
  </ion-content>
</ion-menu>

<ion-router-outlet id="main-admin"></ion-router-outlet>