::ng-deep .first-group,
::ng-deep .second-group {
    padding: 20px;
}

::ng-deep .second-group {
    background-color: rgba(191, 191, 191, 0.15);
}

.boton{
    padding-left: 40px;
    padding-right:20px;
    width: 300px;
    margin-bottom: 100px;
}