<ion-header class="ion-no-border">
  <ion-toolbar>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div color= "residente" id="header">
    <h1 >Login</h1>
    
  </div>

  <form class="for" [formGroup]="loginForm" (ngSubmit)="loginUser(loginForm.value)">
    <ion-item>
      <ion-label class="req" >Email</ion-label>
      <ion-input formControlName="email"></ion-input>
    </ion-item>
    <div class="validation-error">
      <ng-container *ngFor="let validation of validation_messages.email">
        <div class="msjVeri"
          *ngIf="
            loginForm.get('email').hasError(validation.type) &&
            (loginForm.get('email').dirty || loginForm.get('email').touched)
          "
        >
          {{ validation.message }}
        </div>
      </ng-container>
    </div>
    <br>
    <br>
    <ion-item>
      <ion-label class="req">Password</ion-label>
      <ion-input type="password" formControlName="password"></ion-input>
    </ion-item>
    <div class="validation-error">
      <ng-container *ngFor="let validation of validation_messages.password">
        <div class="msjVeri"
          *ngIf="
            loginForm.get('password').hasError(validation.type) &&
            (loginForm.get('password').dirty ||
              loginForm.get('password').touched)
          "
        >
          {{ validation.message }}
        </div>
      </ng-container>
    </div>
    <br>
    <br>
    <br>
    <div class="msjErr">{{errorMessage}}</div>
    <ion-button class="botIng"
      expand="full"
      shape="round"
      color="residente"
      [disabled]="!loginForm.valid"
      type="submit"
      >Ingresar</ion-button
    >
    <br>
    <ion-button class="botIng"
      (click)="goToRegister()"
      expand="full"
      shape="round"
      color="residente"
      type="submit"
      >Registrarse</ion-button
    >
  </form>
</ion-content>

<ion-footer>
  
</ion-footer>