<ion-header class="ion-no-border">
  <ion-toolbar color="residente">
  </ion-toolbar >
  <ion-toolbar color="light">
      <ion-buttons slot="start" (click)="goBack()">
        <ion-icon slot="icon-only" name="chevron-back-outline" color="residente-txt"></ion-icon>
      </ion-buttons>
    <ion-title slot="start" color="residente-txt">EJEMPLO</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
    <ion-grid>
        <ion-row *ngFor= "let mensaje of mensajes">
            
            <ion-col size="9" *ngIf=" ((usuario !== 'EMPLEADO') && (mensaje.rolempleado === 'remitente')) || ((usuario === 'EMPLEADO') && (mensaje.rolempleado === 'destinatario')) " class= "mensaje otro-mensaje">
                
                <span>
                    {{mensaje.contenido}}
                </span>
                <div class="time" text-right><br>
                    {{mensaje.fecha_hora | date:'short'}}
                </div>
            </ion-col>

            <ion-col offset="3" size="9"  *ngIf=" ((usuario !== 'EMPLEADO') && (mensaje.rolempleado === 'destinatario')) || ((usuario === 'EMPLEADO') && (mensaje.rolempleado === 'remitente'))  " class= "mensaje mi-mensaje">
                
                <span>
                    {{mensaje.contenido}}
                </span>
                <div class="time" text-right><br>
                    {{mensaje.fecha_hora | date:'short'}}
                </div>
            </ion-col>
        </ion-row>
    </ion-grid>
</ion-content>
<ion-footer>
    <ion-toolbar light="light">
        <ion-row align-items-center no-padding>
            <ion-col size="10"> 
                <textarea autosize maxRows="2" maxlength = "240" [(ngModel)]="newMsg" class="mensaje-entrada"></textarea>
            </ion-col>
            <ion-col size="2"> 
                <ion-card  class="msg-btn" 
                (click)="enviarMensaje()" [disabled]="newMsg === ''">
                <ion-icon  name="send-outline" style="zoom:2.0;"></ion-icon>
                </ion-card> 
            </ion-col>
        </ion-row>
    </ion-toolbar>
</ion-footer>