<app-header  menu=NO routeBack="/ingreso"></app-header>
    <app-header-start titulo="Registrate" ></app-header-start>
  
    <div class="content-block responsive-paddings" style="overflow:scroll" >
    <form action="your-action" (submit)="onFormSubmit($event)">
 
        <dx-form id="form" [formData]="usuario" [showColonAfterLabel]="false"
            [showValidationSummary]="false" validationGroup="customerData" [labelLocation]="labelL">
            <dxi-item itemType="group">
                <dxi-item dataField="rolConjunto" layout="horizontal" [label]="{text: 'Rol'}" editorType="dxRadioGroup" [editorOptions]="{ items: roles}">
                    <dxi-validation-rule type="required" message="Rol es requerido">    
                    </dxi-validation-rule>
                </dxi-item>
                <dxi-item dataField="nombre">
                    <dxi-validation-rule type="required" message="Nombre es requerido">
                    </dxi-validation-rule>
                    <dxi-validation-rule type="pattern" [pattern]="namePattern" message=" no use numeros en su nombre">
                    </dxi-validation-rule>
                </dxi-item>
                <dxi-item dataField="apellido">
                    <dxi-validation-rule type="required" message="Apellido es requerido">
                    </dxi-validation-rule>
                    <dxi-validation-rule type="pattern" [pattern]="namePattern" message="no use numeros en su Apellido">
                    </dxi-validation-rule>
                </dxi-item>
                <dxi-item dataField="usuario">
                    <dxi-validation-rule type="required" message="Usuario es requerido">
                    </dxi-validation-rule>
                    
                </dxi-item>
                <dxi-item dataField="correo">
                    <dxi-validation-rule type="required" message="Correo requerido">
                    </dxi-validation-rule>
                    <dxi-validation-rule type="email" message="Correo Invalido">
                    </dxi-validation-rule>
                    <!-- <dxi-validation-rule type="async" message="Correo ya registrado"
                     [validationCallback]="asyncValidation">
                    </dxi-validation-rule> -->
                </dxi-item>
                <dxi-item dataField="contrasena" [label]="{text: 'Contraseña'}"  [editorOptions]="{ mode: 'password' }">
                    <dxi-validation-rule type="required" message="Contraseña es obligatoria">
                    </dxi-validation-rule>
                </dxi-item>
                <dxi-item editorType="dxTextBox" [editorOptions]="{ mode: 'password' }">
                    <dxo-label text="Contraseña confirmada">
                    </dxo-label>
                    <dxi-validation-rule type="required" message="contraseña requerida">
                    </dxi-validation-rule>
                    <dxi-validation-rule type="compare" [comparisonTarget]="passwordComparison"
                        message="contraseña incorrecta">
                    </dxi-validation-rule>
                </dxi-item>
           </dxi-item>
        </dx-form>

    </form>
</div>
 <div>

    <ion-button class="botonGuardar"
      (click)="onFormSubmit($event)"
      expand="full"
      shape="round"
      color="residente"
      type="submit"
     
      >Guardar</ion-button
    >

 </div>


