::ng-deep form {
    margin: 30px;
    margin-bottom: 100px;
   
}

.lado {
   
    margin-left: 80px;
    border-radius: 20px;
    background-color: #c9e265;
}
.ladoVolver{
    margin-left: 45px;
    border-radius: 40px;
    background-color: #c9e265;
    color: white;
  
}

::ng-deep border {
   color: aquamarine;
}

.content-block {
    
    margin-right: 20px;
    overflow: scroll;
    width: 100%;
}
.toolbar-content {
    background-color: #c9e265;
}

.botonGuardar{
    padding-left: 40px;
    padding-right:20px;
    width: 300px;
    margin-left: 20px;
    margin-bottom: 50px;
}