<app-header-start titulo="Tus conjuntos"></app-header-start>

<!--
<div *ngIf="{{getUser()}} == 'RESIDENTE'; then thenBlock else elseBlock"></div>

<ng-template #thenBlock>

</ng-template>
<ng-template #elseBlock>
  
</ng-template> 
-->
<ion-content padding class="vertical-center"  *ngFor="let perfil of perfiles">
  <ion-card routerLink="{{getRouteConjunto()}}" >
    <img src="/../../../../assets/icon/IconConjuntos/Conjunto1.png" />
    <!--<div *ngIf="{{getUser()}} == 'RESIDENTE'; then thenBlock else elseBlock"></div>
    <ng-template #thenBlock>
      <ion-title>  {{getConjunto(perfil.idConjunto).nombre}} </ion-title>
      <ion-subtitle> </ion-subtitle>
    </ng-template>
    <ng-template #elseBlock>
      <ion-title>  {{perfil.nombre}} </ion-title>
    </ng-template> -->
  </ion-card>
</ion-content>

<ion-content padding class="vertical-center">
<ion-card routerLink="/agregar-conjunto" >
  <img src="./../../../../assets/icon/IconConjuntos/Conjunto1.png" />
</ion-card>
</ion-content>