<app-header titulo="ÁREAS COMUNES" menu=RESIDENTE></app-header>
<div class = "mover">
<div id="form1">
    <div class="dx-fieldset">
        <div class="dx-field">
            <div class="dx-field-label">Tipo: </div>
            <div class="dx-field-value">
                <dx-radio-group [items]="tipo" 
                                 layout="horizontal"
                                 (onOptionChanged)="traerAreastipo()">
                </dx-radio-group>
            </div>
        </div>
    </div>
</div>

<div class="margen2">Lista Areas Comunes</div>
<dx-select-box class="margen1" [items]="listaDeAreasComunes"></dx-select-box>


<app-calendar-paquete></app-calendar-paquete>


<div class="margen3">Horas Disponibles</div>
<dx-select-box class="margen1" [items]="horasDisponibles"></dx-select-box>



<ion-button class="boton1"
      (click)="mandarMisReservas()"
      expand="full"
      shape="round"
      color="residente"
      type="submit"
      >Mis Reservas</ion-button>
<ion-button class="boton2"
      (click)="mandarNueva()"
      expand="full"
      shape="round"
      color="residente"
      type="submit"
      >Nueva Reserva</ion-button>

    </div>
      
