<app-header-start titulo="Tus conjuntos" back="NO"></app-header-start>
<ion-toolbar class="ion-text-center">
  <ion-label color="medium"> <i>Selecciona un conjunto</i> <br> <br> </ion-label>
</ion-toolbar>
<ion-content padding class="vertical-center">
  <ion-card class="ion-text-center" (click)="goConjunto(conjunto)" *ngFor="let conjunto of getConjuntos()">
    <ion-card-title> {{conjunto.nombre}} </ion-card-title>
      <ion-img src="/../../../../assets/icon/IconConjuntos/Edi.png" alt="Conjunto"></ion-img>
    <br>
  </ion-card>
  <div *ngIf="getUser()">
    <ion-card class=" ion-text-center" (click)="goAgregar()">
      <ion-img src="./../../../../assets/icon/IconConjuntos/add.png" alt="Agregar"></ion-img>
    </ion-card>
  </div>
</ion-content>