<app-header titulo="PAGOS" menu=RESIDENTE></app-header>

<ion-content>
    <section class="ion-text-center">
        <ion-label color="residente-txt"> <br> <br> Tu administración <br>  </ion-label>
        <h1>  <strong> $ {{getPrecio()}} COP <br> <br> </strong> </h1>
        <ion-label color="residente-txt"> Medios de pago <br>  </ion-label>
    </section>
    <ion-card id="paypal" class="ion-text-center" color="ligth">
        <ion-img id="paypal-img" src="./../../../../assets/icon/paypal.svg"></ion-img>
    </ion-card>
    <ion-card id="pse" class="ion-text-center" color="ligth">
        <ion-img id="pse-img" src="./../../../../assets/icon/pse.svg"></ion-img>
    </ion-card>
    <ion-card id="cards" class="ion-text-center" color="ligth">
        <ion-img id="cards-img" src="./../../../../assets/icon/MasterCard.svg"></ion-img>
    </ion-card>
    <ion-card id="cards" class="ion-text-center" color="ligth">
        <ion-img id="cards-img" src="./../../../../assets/icon/Visa.svg"></ion-img>
    </ion-card>
    <div id="centrado">
        <ion-button color="residente" (click)="openUrl()">
            <ion-label> Paga Aquí</ion-label>
        </ion-button>
    </div>
</ion-content>