<app-header *ngIf="rol !=='EMPLEADO'" titulo="CHAT" menu="{{getUser()}}">
</app-header>

<app-header *ngIf="rol ==='EMPLEADO'" titulo="ASISTENCIA" menu="{{getUser()}}">
</app-header>

<ion-content>
    <ion-toolbar>
        <ion-searchbar placeholder="Buscar" animated (ionChange)="buscarChat($event)"></ion-searchbar>
    </ion-toolbar>
    <ion-list>

        <ion-item *ngFor="let chat of getChatBuscado()" [routerLink]="['/chat']" (click)="elegirChat(chat)">
            <ion-avatar *ngIf="chat.rol === 'empleado'" slot="start">
                <ion-img [src]="chat.foto">
                </ion-img>
            </ion-avatar>
            <ion-avatar *ngIf="chat.rol !== 'empleado'" slot="start">
                <ion-img src="/../../../../assets/icon/fotoChat.png"></ion-img>
            </ion-avatar>
            <ion-label>
                {{chat.nombre}}
                <ion-label class="color1">
                    {{chat.oficio}}
                </ion-label>
            </ion-label>
        </ion-item>
    </ion-list>

</ion-content>

<ion-footer *ngIf="rol==='ADMIN'">
    <ion-card color="residente" class="ion-text-center">
        <ion-card-header>
            <ion-card-subtitle (click)="goToAdd()">Agregar empleado</ion-card-subtitle>
        </ion-card-header>
    </ion-card>
</ion-footer>